// Variables
$primary-color: hsl(4, 100%, 67%);

$dark-slate-gray: hsl(234, 29%, 20%);
$charcoal-gray: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

$font-color: #242842;
$link-color: #242339;
$background-color: #36384d;

$font-family: "roboto", sans-serif;
